
 body, html, .container {
         height: 100%;
    	font-family: 'Antic', sans-serif;

    }

.content-cell  {
	height: 40%;
	display: block;
}

#header {
	height: 20%;
	display: block;
}


#clock {
	 font-family: 'Poller One', cursive;
	 margin-top: 50px;
	 margin-bottom:50px;
	
	font-weight: bold;
}

#clock-and-buttons{
	margin-top: 10%;

}

.enlarge-button {
	width: 100px;
}

@media (min-width: 750px){
	#clock{
		font-size: 4em;
	}
}

@media (min-width: 1170px){
	#clock{
		font-size: 6em;
	}

img {
	padding: 20px;

}